.bg{
	background-image: url(bgg.jpg);
}

.im{
	width: 150px;
	height: 100px;
	margin-left : 10px;
	display: inline-block;
	box-shadow: 3px 3px 10px #000000;
	webkit-box-shadow: 3px 3px 29px #000000;
}

.container{
	width: 1100px;
	margin-top: 70px;
	margin-left: auto ;
	margin-right: auto ;
	display: block;
	border-style: ridge;
	border-width: 5px;
	border-spacing: 5px;
}

.register{
	text-align: center;
}

h3,h2,form { 
	text-align: center;
}
